
$color-primary: #673AB7;
$color-secondary: blue;
$color-tertiary: palevioletred;


@mixin set-dimensions($width, $height){
width: $width;
height: $height;

}

body{
    @include set-dimensions(auto,100vh );


    box-sizing: border-box;
    

    overflow: hidden;

    background-image: url("https://cdn.wallpapersafari.com/83/31/DBzikL.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    padding: 1em 5%;
    margin: 0;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

}
