main {
  @include set-dimensions(50%, auto);

  display: flex;

  flex-direction: column;
  flex-flow: wrap;

  justify-content: center;
  align-items: center;


    > img {
    @include set-dimensions(50%, auto);

    margin: 1em;
    background: whitesmoke;
    border-radius: 5px;
    

    hr {
    @include set-dimensions(75%, 7px);

    background: white;
    border-radius: 5px;
    border: none;
    
    
    .logos {
    @include set-dimensions(100%, auto);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    

    > img {
    @include set-dimensions(5em, 5em);

    object-fit: cover;
    margin: 0.5;

    background: whitesmoke;
    border: 1px solid black;
    border-radius: 100%;
    opacity: 0.7;
    

.logos > img:hover {
  opacity: 1;
}
}
}
}
}
}